{# valid values for style are: 'lg' , '2x' , '3x' , '4x' , '5x' #}
{% block fa -%}
<i class="fa fa-{{ icon }}{{ inverted ? ' fa-inverse' : '' }}{{ style ? ' icon-' ~  style : '' }}"></i>
{%- endblock %}

{% block glyphicon -%}
<span class="glyphicon glyphicon-{{ icon }}{{ style ? ' icon-' ~  style : '' }}{{ inverted ? ' color-inverse' : '' }}"></span>
{%- endblock %}

{% block ion -%}
    <i class="ionicons ion-{{ icon }}{{ style ? ' icon-' ~  style : '' }}{{ inverted ? ' color-inverse' : '' }}"></i>
{%- endblock %}

{% block octicon -%}
    <span class="octicon octicon-{{ icon }}{{ style ? ' icon-' ~  style : '' }}{{ inverted ? ' color-inverse' : '' }}"></span>
{%- endblock %}

{% block fi -%}
    <span class="fi-{{ icon }}{{ style ? ' icon-' ~  style : '' }}{{ inverted ? ' color-inverse' : '' }}"></span>
{%- endblock %}